{erl_opts, [debug_info, {i, "include"}]}.
{deps, [
        {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "2.6.3"}},
        {jiffy, "0.15.2"},
        grisp,
        {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
       ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [conway_game]}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {deploy, [
                   {pre_script, "rm -rf /Volumes/GRISP/*"},
                   {destination, "/Volumes/GRISP"},
                   {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.


{relx, [{release, {conway_game, "0.1.0"},
         [{epmd, none}, conway_game]}
       ]}.

{profiles,
 [
  {master, [
            {erl_opts, [{d, 'ROLE', master}]},
            {relx, [
                    {dev_mode, true},
                    {include_erts, false},
                    {overlay,
                     [
                      %% TODO don't hardcode the version here
                      {template, "./vm.args", "releases/0.1.0/vm.args"}
                     ]},
                    {extended_start_script, true},
                    {overlay_vars, "master_vars.config"}
                   ]}
           ]},
  {slave, [
           {erl_opts, [{d, 'ROLE', slave}]},
            {relx, [
                    {dev_mode, true},
                    {include_erts, false},
                    {overlay,
                     [
                      %% TODO don't hardcode the version here
                      {template, "./vm.args", "releases/0.1.0/vm.args"}
                     ]},
                    {extended_start_script, true},
                    {overlay_vars, "slave_vars.config"}
                   ]}
          ]},
  {grisp_slave, [
           {erl_opts, [{d, 'ROLE', slave}]}
          ]}

 ]
}.
